body{
    font-family: Arial;
    background-image: url("../images/background.jpg");
    color:white;
    margin: 0;
    margin-top: 50px;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

.header{
    display:flex;
    height: 60px;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: black;
    margin-top: -50px;
}

.navigation div{
    cursor:pointer;
}

.name-logo{
    
    flex: 1;
    display:flex;
    align-items: center;
    
}

.logo-img{
    height: 80px;
}
.name{
    /* display: inline-block; */
    margin-left: 100px;
    font-size: 45px;
    color:magenta;
    font-family: 'Delicious Handrawn', cursive;
    cursor: default;
    
}

a{
    text-decoration: none;
    color:white;
}


.navigation{
    /* background-color: aqua; */
    flex: 1;
    display: flex;
    justify-content:space-evenly;
    font-size: 20px;
    

}

.top-chart-heading{
    font-size: 60px;
    font-family: 'Fasthand', cursive;
}

.artists-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items:center;
    /* justify-content: space-evenly; */
    margin-bottom: 150px;
    width:100%;
    
}

@media(max-width:1000px){
    
        .artists-grid{
    grid-template-columns: 1fr 1fr;

        }
    }



.artist{
    margin:10px 10px;
    width: 300px;
    transition: width 0.5s, margin-bottom 0.5s;
    cursor:pointer;
    border: 1px solid white;
}

.artist:hover{
    width: 350px;
    margin-bottom: -50px;
}


.artist-img{
    width:100%;
    aspect-ratio: 1/1;
    margin-bottom: 0px;
}

.artist-name{
    margin-left:10px;
    font-size: 38px;
    pointer-events: none;
}

.year{
    display: inline-block;
    margin-left: 10px;
}

.song-number{
    display:inline-block;
}

.album-info{
    display: inline-block;
    margin-left:20px;
    
}
.album-info div{
    text-align: center;
}

.footer{
    font-size: 25px;
    display:flex;
    justify-content:space-evenly;
    background-color: rgb(41, 31, 31);
}

.footer div{
    cursor: pointer;
}

