body{
    font-family: Arial;
    background-image: url("../images/background.jpg");
    color:white;
    margin: 0;
    margin-top: 90px;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    min-height: 90.5vh;
    display: flex;
    flex-direction: column;

}

.header{
    display:flex;
    height: 60px;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: black;
    margin-top: -90px;
    
}

.navigation div{
    cursor:pointer;
}

.name-logo{
    
    flex: 1;
    display:flex;
    align-items: center;
    
}

.logo-img{
    height: 80px;
}
.name{
    /* display: inline-block; */
    margin-left: 100px;
    font-size: 45px;
    color:magenta;
    font-family: 'Delicious Handrawn', cursive;
    cursor: default;

    
}


.navigation{
    /* background-color: aqua; */
    flex: 1;
    display: flex;
    justify-content:space-evenly;
    font-size: 20px;
    

}
.review-table{
    margin-top: 10px;
}
.singer{
    font-size: 20px;
}
.album-info{
    display:flex;
    justify-content: center;
    margin-left:30px;
    margin-bottom:30px;
    cursor: default;
    margin-top: 50px;
}

/* .album-image{
    
    width: auto;
}  */

.container{
    height:400px;
}

.artist-image{
    width:200px;
    height:100px;
    transition: all 0.5s ease;
    display: inline-block; 
    
   
    
}
.singer{
    text-align: center; 
}
.button{
    flex:1;
    display:flex;
    cursor: pointer;
    justify-content:space-between;
}
.submit{
    cursor: pointer;
    height:40px;
    width:100px;
}
textarea {
    width: 250px;
    height: 100px;
  }
.review{
    height:50px;
    width:1000px;
}
.album-info{
    display:flex;
    margin-left:30px;
    margin-bottom:80px;
    cursor: default;
    justify-content: center;
}

#artist-image{
    margin:100px;
    transition: transform 0.8s ease;
    width:300px;
    margin-left: 0;
    border: 1px solid gray;
}

.album-image{
    width:300px;
    height:auto;
    display: inline-block;
}

.album-name{
    margin-top:10px;
    margin-left: 20px;
    font-size: 80px;

}

.album-auth-year{
    font-size: 20px;
}

.album-songs{
    font-size:20px;
    margin-top:5px
}


.songs{
    font-size: 35px;
    background-color: rgb(0, 0, 0);
    display: flex;
    margin-left:450px;
    margin-right: 450px;
    margin-bottom: 5px;
    margin-top: 5px;
    cursor:default;
}

.snum{
    width:250px;
}

.song-name{
    width: 150px;
}

.duration{
    flex: 1;
}

.footer{
    bottom:0;
    font-size: 25px;
    display:flex;
    justify-content:space-evenly;
    background-color: rgb(41, 31, 31);
    margin-top: auto;
}

.footer div{
    cursor: pointer;
}

.countdown{
    text-align: center;
    width: 100%;
    font-size: 24px;
    margin-bottom: 15px;
    text-decoration: wavy;
    font-weight: bold;
}
.artist-name{
    font-size: 200px;
   
}

