<!DOCTYPE html>
<html>
<head>
    <title>Tunes</title>
    <link rel="stylesheet" href="../static/css/about.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fasthand&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap" rel="stylesheet">

</head>

</head>
<body>
    <header class="header">
        <div class="name-logo">
            <img class="logo-img" src="../static/images/logo.png">
            <div class="name">Tunes</div>
        </div>
        <div class="navigation">
            <div><a href="home.html" style="text-decoration: none;color:white;">Home</a></div>
            <div><a href="artists.html" style="text-decoration: none;color:white;">Artists</a></div>
            <div><a href="about.html" style="text-decoration: none;color:white;"><u>About</u></a></div>
            <div><a href="spotlight.html" style="text-decoration: none;color:white;">Spotlight</a></div>
                <div><a href="playlist.html" style="text-decoration: none;color:white;">Playlist</a></div>
            <div><a href="search.html" style="text-decoration: none;color:white;"><img 
                style="width: 25px;" src="../static/images/search.png"></a></div>
        </div>
    </header>
<div class="head">
    ABOUT US 
</div>

<div class="pageinfo">
    
     
  <p class="lineee">
Welcome to <div class="name2">Tunes</div> the ultimate destination for music lovers everywhere. Our mission is to provide an immersive, interactive, and engaging platform where music fans can discover new music, connect with other fans, and explore everything the world of music has to offer.
  </p>

  <p class="lineee">  
    This intends to provide a platform for music lovers to enjoy and experience the best quality music.
   </p> 
   
   
   <p class="lineee">
    At <div class="name2"> Tunes </div>, you'll find a wide range of features and services that cater to music lovers of all kinds. Some of our key offerings include:
   </p>
   <ul>
    <li>
        Music streaming: Stream your favorite tracks, albums, and playlists from the biggest names in music, as well as up-and-coming artists from around the world
    </li>
    <li>
        Personalized playlists: Create your own playlists based on your favorite artists, genres, and moods, and share them with the world.
    </li>
    <li>
        Lyrics: Access lyrics to all your favorite songs, as well as translations and interpretations from our team of music experts.
    </li>
   <li>
    Community: Connect with other music fans from around the world, share your favorite songs and playlists, and discover new music through our vibrant community.
   </li>
   </ul>

   <p class="lineee"> 
    If you have any questions or feedback, we'd love to hear from you! You can reach out to us through E-mail. Thank you for choosing <div class="name2">Tunes</div> 
   </p>
</div>

<div class="anish">
    <div class="ainfo">
    <img class="aimg" src="../static/images/anish.jpg">
    <div class="text">
     <p class="instex"> Anish R Joishy is an undergradute at IIIT-Hyderabad in Computer Science (BTech + MS).
    He hails from Karkala , Karnataka. He has secured AIR 1383 in JEE Mains and AIR 1340 in JEE-Advanced. </p>
    <p class="instex">Email ID: anish.joishy@research.iiit.ac.in</p>
     <a style="text-decoration: none;" href="https://www.instagram.com/sukin272/"><div class="follow"> Follow </div></a> 
    </div>
</div>
</div>

<div class="anish">
    <div class="ainfo2">
    <img class="aimg2" src="../static/images/shreyas.jpg">
    <div class="text">
     <p class="instex"> Shreyas S Adiga is an undergradute at IIIT-Hyderabad in Computer Science (BTech + MS).
      He hails from Mangalore,Karnataka. He has gone to IMOTC 2021 and IMOTC 2022 and has secured Honourable Mention at Asian Pacific Mathematical Olympiad 2022.</p>
      <p class="instex">Email ID: shreyas.adiga@research.iiit.ac.in</p>
        <a style="text-decoration: none;" href="https://www.instagram.com/adiga.shreyas/">
            <div class="follow"> Follow </div>
        </a>

     
    </div>
</div>
</div>

 <div class="footer">
    <div><a href="about.html" style="text-decoration: none;color:white;">About</a></div>
    <div style="cursor: default;">- ok_17</div>
</div>
<script src="../static/js/about.js"></script>
<script src="../static/js/header.js"></script>

</body>
</html>
