<!DOCTYPE html>
<html lang="en">
<head>
   
    <title>Album</title>

        <link rel="stylesheet" href="../static/css/album.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fasthand&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap" rel="stylesheet">
    
    
</head>
<body>
    <header class="header">
        <div class="name-logo">
            <img class="logo-img" src="../static/images/logo.png">
            <div class="name">Tunes</div>
        </div>
        <div class="navigation">
            <div><a href="home.html" style="text-decoration: none;color:white;">Home</a></div>
            <div><a href="artists.html" style="text-decoration: none;color:white;">Artists</a></div>
            <div><a href="about.html" style="text-decoration: none;color:white;">About</a></div>
            <div><a href="spotlight.html" style="text-decoration: none;color:white;">Spotlight</a></div><div><a href="playlist.html" style="text-decoration: none;color:white;">Playlist</a></div>
            <div><a href="search.html" style="text-decoration: none;color:white;"><img 
                style="width: 25px;" src="../static/images/search.png"></a></div>
        </div>
    </header>
    <!--.........................................-->
    <div class="album-auth-year">
        Ed Sheeran
    </div>  
    <div class="album-info">
        <div class="album-image">
            <img class="album-image" src="../static/images/EdSheeran.jpg">
        </div>
        
       
        </div>
       
    <!--.......................................-->

    <div class="artists-grid">
    <a href="music01.html">
        <div  class="artist">
            
            <div>
                <img class="artist-img" src="../static/images/Al-Ed-=.jpg ">
            </div>
            <div class="artist-name">
                =
            </div>
            <div class="year">2019 &#x2022; 8 songs</div>            
        </div>
    </a>
    <a href="music03.html">
        <div class="artist">
            <div>
                <img class="artist-img" src="../static/images/Al-Ed-divide.jpg">
            </div>
            <div class="artist-name">
                &divide;
            </div>
            <div class="year">2017 &#x2022; 6 songs</div>
        </div>
    </a>
    <a href="music05.html">
        <div class="artist">
            <div>
                <img class="artist-img" src="../static/images/Al-Ed-x.jpg">
            </div>
            <div class="artist-name">
                x
            </div>
            <div class="year">2014 &#x2022; 7 songs</div>  
        </div>
    </a>
    </div>
    <div class="artists-grid3">
    <a href="music04.html">
        <div class="artist">
            <div>
                <img class="artist-img" src="../static/images/Al-Ed-dont.jpg ">
            </div>
            <div class="artist-name">
                DON'T
            </div>
            <div class="year">2014 &#x2022; 5 songs</div>
    </div>
    </a>
    <a href="music02.html">
    <div class="artist">
        <div>
            <img class="artist-img" src="../static/images/Al-Ed-No.6col.jpg ">
        </div>
        <div class="artist-name">
            No.6
        </div>
        <div class="year">2019 &#x2022; 9 songs</div>
    </div>
    </a>

    </div>

    <div class="footer">
        <div><a href="about.html" style="text-decoration: none;color:white;">About</a></div>
        <div style="cursor: default;">- ok_17</div>
    </div>
<script src="../static/js/header.js"></script>

</body>
</html>