<!DOCTYPE html>

<html>
    <head>
        <title>Tunes</title>
        <link rel="stylesheet" href="../static/css/home.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fasthand&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap" rel="stylesheet">
    
    </head>
    <body>
        <header class="header">
            <div class="name-logo">
                <img class="logo-img" src="../static/images/logo.png">
                <div class="name">Tunes</div>
            </div>
            <div class="navigation">
                <div><a href="home.html" style="text-decoration: none;color:white;"><u>Home</u></a></div>
                <div><a href="artists.html" style="text-decoration: none;color:white;">Artists</a></div>
                <div><a href="about.html" style="text-decoration: none;color:white;">About</a></div>
                <div><a href="spotlight.html" style="text-decoration: none;color:white;">Spotlight</a></div>
                <div><a href="playlist.html" style="text-decoration: none;color:white;">Playlist</a></div>
                <div><a href="search.html" style="text-decoration: none;color:white;"><img 
                    style="width: 25px;" src="../static/images/search.png"></a></div>
            </div>
        </header>
        <!--.........................................-->
        <span class="top-chart-heading">TOP ARTISTS</span>
        <div class="artists-grid">
            <a href="album.html">
            <div class="artist">
                <div>
                    <img class="artist-img" src="../static/images/EdSheeran.jpg">
                </div>
                <div class="artist-name">
                    <center>Ed Sheeran</center>
                </div>
            </div>
            </a>

            <a href="album2.html">
            <div class="artist">
                <div>
                    <img class="artist-img" src="../static/images/ImagineDragons.jpeg">
                </div>
                <div class="artist-name">
                    <center>Imagine Dragons</center>
                </div>
            </div>
            </a>

            <a href="album4.html">
            <div class="artist">
                <div>
                    <img class="artist-img" src="../static/images/TaylorSwift.webp">
                </div>
                <div class="artist-name">
                    <center>Taylor Swift</center>
                </div>
            </div>
            </a>
        </div>
        <!--.........................................-->
        <span class="top-chart-heading">TOP ALBUMS</span>
        <div class="artists-grid">
            <a href="music04.html">
            <div class="artist">
                <div>
                    <img class="artist-img" src="../static/images/Al-Ed-dont.jpg">
                </div>
                <div class="artist-name">
                    Don't
                </div>
                <div class="year">2014 &#x2022;</div>
                <div class="song-number">Ed Sheeran &#x2022;</div>
                <div class="song-number">5 songs</div>
                
            </div>
            </a>

            <a href="music24.html">
            <div class="artist">
                <div>
                    <img class="artist-img" src="../static/images/Al-ID-Evolve.jpg">
                </div>
                <div class="artist-name">
                    Evolve
                </div>
                <div class="year">2017 &#x2022;</div>
                <div class="song-number">Imagine Dragons &#x2022;</div>
                <div class="song-number">12 songs</div>
            </div>
            </a>

            <a href="music14.html">
            <div class="artist">
                <div>
                    <img class="artist-img" src="../static/images/Al-TS-Evermore.jpg">
                </div>
                <div class="artist-name">
                    evermore
                </div>
                <div class="year">2020 &#x2022;</div>
                <div class="song-number">Taylor Swift &#x2022;</div>
                <div class="song-number">15 songs</div>
            </div>
            </a>
            
        </div>
        <!--.........................................-->
        <span class="top-chart-heading">TOP MUSIC</span>
        <div class="artists-grid">

            <div class="artist">
                <div>
                    <img class="artist-img" src="../static/images/S-perfect.jpeg">
                </div>
                <div class="artist-name">
                    Perfect
                </div>
                <div class="year">Ed Sheeran &#x2022;</div>
                <div class="song-number">4:24</div>
            </div>


            <div class="artist">
                <div>
                    <img class="artist-img" src="../static/images/S-believer.jpeg">
                </div>
                <div class="artist-name">
                    Believer
                </div>
                <div class="year">Imagine Dragons &#x2022;</div>
                <div class="song-number">3:24</div>
            </div>


            <div class="artist">
                <div>
                    <img class="artist-img" src="../static/images/S-stealmygirl.jpeg">
                </div>
                <div class="artist-name">
                    Steal my Girl
                </div>
                <div class="year">One Direction &#x2022;</div>
                <div class="song-number">3:49</div>
            </div>
        </div>
        <div class="footer">
            <div><a href="about.html" style="text-decoration: none;color:white;">About</a></div>
            <div style="cursor: default;">- ok_17</div>
        </div>
        <script src="../static/js/header.js"></script>
    </body>
</html>