<!DOCTYPE html>

<html>
    <head>
        <title>Tunes</title>
        <link rel="stylesheet" href="../static/css/music.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fasthand&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap" rel="stylesheet">
    
    </head>
    <body>
        <header class="header">
            <div class="name-logo">
                <img class="logo-img" src="../static/images/logo.png">
                <div class="name">Tunes</div>
            </div>
            <div class="navigation">
                <div><a href="home.html" style="text-decoration: none;color:white;">Home</a></div>
                <div><a href="artists.html" style="text-decoration: none;color:white;">Artists</a></div>
                <div><a href="about.html" style="text-decoration: none;color:white;">About</a></div>
                <div><a href="spotlight.html" style="text-decoration: none;color:white;">Spotlight</a></div><div><a href="playlist.html" style="text-decoration: none;color:white;">Playlist</a></div>
                <div><a href="search.html" style="text-decoration: none;color:white;"><img 
                    style="width: 25px;" src="../static/images/search.png"></a></div>
            </div>
        </header>
        <!--.........................................-->
        <div class="album-info">
            <div class="album-image">
                <img class="album-image" src="../static/images/Al-ED-smoke+mirrors.jpg">
            </div>
            <div class="album-name">
                   Smoke+Mirrors
            <div class="album-auth-year">
                Imagine Dragons &#x2022; 2014
            </div>
            <div class="album-songs">
                6 songs
            </div>
            </div>
        </div>
        <!--.......................................-->
        <hr style="margin:0 450px 0 450px;border-color: gray;">
        <div class="songs">
            <div class="snum">
                1
            </div>
            <div class="song-name">
                Shots
            </div>
            <div class="duration">
                3:52
            </div>
            <form action="#" method="post">
                <div class="play-button">
                    <button style="background-color: transparent;" name="butt" value="251;Shots;3:52">
                        <img class="play-button-img" src="../static/images/playlist.png">
                    </button>
                </div>
            </form> 
        </div>
        <hr style="margin:0 450px 0 450px;border-color: gray;">
        <div class="songs">
            <div class="snum">
                2
            </div>
            <div class="song-name">
                Gold
            </div>
            <div class="duration">
                3:36
            </div>
            <form action="#" method="post">
                <div class="play-button">
                    <button style="background-color: transparent;" name="butt" value="252;Gold;3:36">
                        <img class="play-button-img" src="../static/images/playlist.png">
                    </button>
                </div>
            </form> 
        </div>
        <hr style="margin:0 450px 0 450px;border-color: gray;">
        <div class="songs">
            <div class="snum">
                3
            </div>
            <div class="song-name">
                Smoke And Mirrors
            </div>
            <div class="duration">
                4:20
            </div>
            <form action="#" method="post">
                <div class="play-button">
                    <button style="background-color: transparent;" name="butt" value="253;Smoke And Mirrors;4:20">
                        <img class="play-button-img" src="../static/images/playlist.png">
                    </button>
                </div>
            </form> 
        </div>
        <hr style="margin:0 450px 0 450px;border-color: gray;">
        <div class="songs">
            <div class="snum">
                4
            </div>
            <div class="song-name">
                I'm So Sorry
            </div>
            <div class="duration">
                3:50
            </div>
            <form action="#" method="post">
                <div class="play-button">
                    <button style="background-color: transparent;" name="butt" value="254;I'm So Sorry;3:50">
                        <img class="play-button-img" src="../static/images/playlist.png">
                    </button>
                </div>
            </form> 
        </div>
        <hr style="margin:0 450px 0 450px;border-color: gray;">
        <div class="songs">
            <div class="snum">
                5
            </div>
            <div class="song-name">
                I Bet My Life
            </div>
            <div class="duration">
                3:12
            </div>
            <form action="#" method="post">
                <div class="play-button">
                    <button style="background-color: transparent;" name="butt" value="255;I Bet My Life ;3:12">
                        <img class="play-button-img" src="../static/images/playlist.png">
                    </button>
                </div>
            </form> 
        </div>
        <hr style="margin:0 450px 0 450px;border-color: gray;">
        <div class="songs">
            <div class="snum">
                6
            </div>
            <div class="song-name">
                Polaroid
            </div>
            <div class="duration">
                3:50
            </div>
            <form action="#" method="post">
                <div class="play-button">
                    <button style="background-color: transparent;" name="butt" value="256;Polaroid;3:50">
                        <img class="play-button-img" src="../static/images/playlist.png">
                    </button>
                </div>
            </form> 
        </div>
        <hr style="margin:0 450px 0 450px;border-color: gray;">
        

        <div class="footer">
            <div><a href="about.html" style="text-decoration: none;color:white;">About</a></div>
            <div style="cursor: default;">- ok_17</div>
        </div>
        <script src="../static/js/header.js"></script>
    </body>
</html>