<!DOCTYPE html>

<html>
    <head>
        <title>Tunes</title>
        <link rel="stylesheet" href="../static/css/music.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fasthand&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap" rel="stylesheet">
    
    </head>
    <body>
        <header class="header">
            <div class="name-logo">
                <img class="logo-img" src="../static/images/logo.png">
                <div class="name">Tunes</div>
            </div>
            <div class="navigation">
                <div><a href="home.html" style="text-decoration: none;color:white;">Home</a></div>
                <div><a href="artists.html" style="text-decoration: none;color:white;">Artists</a></div>
                <div><a href="about.html" style="text-decoration: none;color:white;">About</a></div>
                <div><a href="spotlight.html" style="text-decoration: none;color:white;">Spotlight</a></div><div><a href="playlist.html" style="text-decoration: none;color:white;">Playlist</a></div>
                <div><a href="search.html" style="text-decoration: none;color:white;"><img 
                    style="width: 25px;" src="../static/images/search.png"></a></div>
            </div>
        </header>
        <!--.........................................-->
        <div class="album-info">
            <div class="album-image">
                <img class="album-image" src="../static/images/Al-1d-takmehome.jpg">
            </div>
            <div class="album-name">
                Take Me Home
            <div class="album-auth-year">
                One Direction &#x2022; 2019 
            </div>
            <div class="album-songs">
                6 songs
            </div>
            </div>
        </div>
        <!--.......................................-->
        <hr style="margin:0 450px 0 450px;border-color: gray;">
        <div class="songs">
            <div class="snum">
                1
            </div>
            <div class="song-name">
                Kiss You
            </div>
            <div class="duration">
                3:03
            </div>
            <form action="#" method="post">
                <div class="play-button">
                    <button style="background-color: transparent;" name="butt" value="91;Kiss You;3:03">
                        <img class="play-button-img" src="../static/images/playlist.png">
                    </button>
                </div>
            </form>   
        </div>
        <hr style="margin:0 450px 0 450px;border-color: gray;">
        <div class="songs">
            <div class="snum">
                2
            </div>
            <div class="song-name">
                Little Things
            </div>
            <div class="duration">
                3:40
            </div>
            <form action="#" method="post">
                <div class="play-button">
                    <button style="background-color: transparent;" name="butt" value="92;Little Things;3:40">
                        <img class="play-button-img" src="../static/images/playlist.png">
                    </button>
                </div>
            </form>
        </div>
        <hr style="margin:0 450px 0 450px;border-color: gray;">
        <div class="songs">
            <div class="snum">
                3
            </div>
            <div class="song-name">
                C'mon C'mon
            </div>
            <div class="duration">
              2:45  
            </div>
            <form action="#" method="post">
                <div class="play-button">
                    <button style="background-color: transparent;" name="butt" value="93;C'mon C'mon;2:45">
                        <img class="play-button-img" src="../static/images/playlist.png">
                    </button>
                </div>
            </form>
        </div>
        <hr style="margin:0 450px 0 450px;border-color: gray;">
        <div class="songs">
            <div class="snum">
                4
            </div>
            <div class="song-name">
                Last First Kiss
            </div>
            <div class="duration">
                3:24
            </div>
            <form action="#" method="post">
                <div class="play-button">
                    <button style="background-color: transparent;" name="butt" value="94;Last First Kiss;3:24">
                        <img class="play-button-img" src="../static/images/playlist.png">
                    </button>
                </div>
            </form>
        </div>
        <hr style="margin:0 450px 0 450px;border-color: gray;">
        <div class="songs">
            <div class="snum">
                5
            </div>
            <div class="song-name">
                Heart Attack
            </div>
            <div class="duration">
                2:57
            </div>
            <form action="#" method="post">
                <div class="play-button">
                    <button style="background-color: transparent;" name="butt" value="95;Heart Attack;2:57">
                        <img class="play-button-img" src="../static/images/playlist.png">
                    </button>
                </div>
            </form>
        </div>
        <hr style="margin:0 450px 0 450px;border-color: gray;">
        <div class="songs">
            <div class="snum">
                6
            </div>
            <div class="song-name">
                Rock Me
            </div>
            <div class="duration">
                3:21
            </div>
            <form action="#" method="post">
                <div class="play-button">
                    <button style="background-color: transparent;" name="butt" value="96;Rock Me;3:21">
                        <img class="play-button-img" src="../static/images/playlist.png">
                    </button>
                </div>
            </form>
        </div>
         <hr style="margin:0 450px 0 450px;border-color: gray;">
        
        <div class="footer">
            <div><a href="about.html" style="text-decoration: none;color:white;">About</a></div>
            <div style="cursor: default;">- ok_17</div>
        </div>
<script src="../static/js/header.js"></script>

    </body>
</html>