<!DOCTYPE html>

<html>
    <head>
        <title>Tunes</title>
        <link rel="stylesheet" href="../static/css/music.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fasthand&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap" rel="stylesheet">
    
    </head>
    <body>
        <header class="header">
            <div class="name-logo">
                <img class="logo-img" src="../static/images/logo.png">
                <div class="name">Tunes</div>
            </div>
            <div class="navigation">
                <div><a href="home.html" style="text-decoration: none;color:white;">Home</a></div>
                <div><a href="artists.html" style="text-decoration: none;color:white;">Artists</a></div>
                <div><a href="about.html" style="text-decoration: none;color:white;">About</a></div>
                <div><a href="spotlight.html" style="text-decoration: none;color:white;">Spotlight</a></div><div><a href="playlist.html" style="text-decoration: none;color:white;">Playlist</a></div>
                <div><a href="search.html" style="text-decoration: none;color:white;"><img 
                    style="width: 25px;" src="../static/images/search.png"></a></div>
            </div>
        </header>
        <!--.........................................-->
        <div class="album-info">
            <div class="album-image">
                <img class="album-image" src="../static/images/Al-1d-Four.jpg">
            </div>
            <div class="album-name">
                FOUR
            <div class="album-auth-year">
                One Direction &#x2022; 2014 
            </div>
            <div class="album-songs">
                8 songs
            </div>
            </div>
        </div>
        <!--.......................................-->
        <hr style="margin:0 450px 0 450px;border-color: gray;">
        <div class="songs">
            <div class="snum">
                1
            </div>
            <div class="song-name">
                Steal My Girl
            </div>
            <div class="duration">
                3:49
            </div>
            <form action="#" method="post">
                <div class="play-button">
                    <button style="background-color: transparent;" name="butt" value="61;Steal My Girl;3:49">
                        <img class="play-button-img" src="../static/images/playlist.png">
                    </button>
                </div>
            </form>     
        </div>
        <hr style="margin:0 450px 0 450px;border-color: gray;">
        <div class="songs">
            <div class="snum">
                2
            </div>
            <div class="song-name">
                Ready To Run
            </div>
            <div class="duration">
                3:17
            </div>
            <form action="#" method="post">
                <div class="play-button">
                    <button style="background-color: transparent;" name="butt" value="62;Ready To Run;3:17">
                        <img class="play-button-img" src="../static/images/playlist.png">
                    </button>
                </div>
            </form>     
        </div>
        <hr style="margin:0 450px 0 450px;border-color: gray;">
        <div class="songs">
            <div class="snum">
                3
            </div>
            <div class="song-name">
                18
            </div>
            <div class="duration">
                4:09
            </div>
            <form action="#" method="post">
                <div class="play-button">
                    <button style="background-color: transparent;" name="butt" value="63;18;4:09">
                        <img class="play-button-img" src="../static/images/playlist.png">
                    </button>
                </div>
            </form>     
        </div>
        <hr style="margin:0 450px 0 450px;border-color: gray;">
        <div class="songs">
            <div class="snum">
                4
            </div>
            <div class="song-name">
                Girl Almighty
            </div>
            <div class="duration">
                3:22
            </div>
            <form action="#" method="post">
                <div class="play-button">
                    <button style="background-color: transparent;" name="butt" value="64;Girl Almighty;3:22">
                        <img class="play-button-img" src="../static/images/playlist.png">
                    </button>
                </div>
            </form>     
        </div>
        <hr style="margin:0 450px 0 450px;border-color: gray;">
        <div class="songs">
            <div class="snum">
                5
            </div>
            <div class="song-name">
                Fool's Gold
            </div>
            <div class="duration">
                3:31
            </div>
            <form action="#" method="post">
                <div class="play-button">
                    <button style="background-color: transparent;" name="butt" value="65;Fool's Gold;3:31">
                        <img class="play-button-img" src="../static/images/playlist.png">
                    </button>
                </div>
            </form>         
        </div>
        <hr style="margin:0 450px 0 450px;border-color: gray;">
        <div class="songs">
            <div class="snum">
                6
            </div>
            <div class="song-name">
                Night Changes
            </div>
            <div class="duration">
                3:47
            </div>
            <form action="#" method="post">
                <div class="play-button">
                    <button style="background-color: transparent;" name="butt" value="66;Night Changes;3:47">
                        <img class="play-button-img" src="../static/images/playlist.png">
                    </button>
                </div>
            </form>         
        </div>
        <hr style="margin:0 450px 0 450px;border-color: gray;">
        <div class="songs">
            <div class="snum">
                7
            </div>
            <div class="song-name">
                No Control
            </div>
            <div class="duration">
                3:20
            </div>
            <form action="#" method="post">
                <div class="play-button">
                    <button style="background-color: transparent;" name="butt" value="67;No Control;3:20">
                        <img class="play-button-img" src="../static/images/playlist.png">
                    </button>
                </div>
            </form>         
        </div>
        <hr style="margin:0 450px 0 450px;border-color: gray;">
        <div class="songs">
            <div class="snum">
                8
            </div>
            <div class="song-name">
                Clouds
            </div>
            <div class="duration">
                3:52
            </div>
            <form action="#" method="post">
                <div class="play-button">
                    <button style="background-color: transparent;" name="butt" value="68;Clouds;3:52">
                        <img class="play-button-img" src="../static/images/playlist.png">
                    </button>
                </div>
            </form>     
        </div>
        <hr style="margin:0 450px 0 450px;border-color: gray;">
        
        

        <!--.........................................-->
        <div class="footer">
            <div><a href="about.html" style="text-decoration: none;color:white;">About</a></div>
            <div style="cursor: default;">- ok_17</div>
        </div>
<script src="../static/js/header.js"></script>

    </body>
</html>