<!DOCTYPE html>

<html>
    <head>
        <title>Tunes</title>
        <link rel="stylesheet" href="../static/css/music.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fasthand&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap" rel="stylesheet">
    
    </head>
    <body>
        <header class="header">
            <div class="name-logo">
                <img class="logo-img" src="../static/images/logo.png">
                <div class="name">Tunes</div>
            </div>
            <div class="navigation">
                <div><a href="home.html" style="text-decoration: none;color:white;">Home</a></div>
                <div><a href="artists.html" style="text-decoration: none;color:white;">Artists</a></div>
                <div><a href="about.html" style="text-decoration: none;color:white;">About</a></div>
                <div><a href="spotlight.html" style="text-decoration: none;color:white;">Spotlight</a></div><div><a href="playlist.html" style="text-decoration: none;color:white;">Playlist</a></div>
                <div><a href="search.html" style="text-decoration: none;color:white;"><img 
                    style="width: 25px;" src="../static/images/search.png"></a></div>
            </div>
        </header>
        <!--.........................................-->
        <div class="album-info">
            <div class="album-image">
                <img class="album-image" src="../static/images/Al-1d-MadeintheAM.jpg">
            </div>
            <div class="album-name">
                Made in the A.M
            <div class="album-auth-year">
                One Direction &#x2022; 2015 
            </div>
            <div class="album-songs">
                5 songs
            </div>
            </div>
        </div>
        <!--.......................................-->
        <hr style="margin:0 450px 0 450px;border-color: gray;">
        <div class="songs">
            <div class="snum">
                1
            </div>
            <div class="song-name">
                Hey Angel
            </div>
            <div class="duration">
                4:00
            </div>
            <form action="#" method="post">
                <div class="play-button">
                    <button style="background-color: transparent;" name="butt" value="71;Hey Angel;4:00">
                        <img class="play-button-img" src="../static/images/playlist.png">
                    </button>
                </div>
            </form>         
        </div>
        <hr style="margin:0 450px 0 450px;border-color: gray;">
        <div class="songs">
            <div class="snum">
                2
            </div>
            <div class="song-name">
                Drag me Down
            </div>
            <div class="duration">
                3:13
            </div>
            <form action="#" method="post">
                <div class="play-button">
                    <button style="background-color: transparent;" name="butt" value="72;Drag Me Down;3:13">
                        <img class="play-button-img" src="../static/images/playlist.png">
                    </button>
                </div>
            </form>    
        </div>
        <hr style="margin:0 450px 0 450px;border-color: gray;">
        <div class="songs">
            <div class="snum">
                3
            </div>
            <div class="song-name">
                Perfect
            </div>
            <div class="duration">
                3:51
            </div>
            <form action="#" method="post">
                <div class="play-button">
                    <button style="background-color: transparent;" name="butt" value="73;Perfect;3:51">
                        <img class="play-button-img" src="../static/images/playlist.png">
                    </button>
                </div>
            </form>    
        </div>
        <hr style="margin:0 450px 0 450px;border-color: gray;">
        <div class="songs">
            <div class="snum">
                4
            </div>
            <div class="song-name">
                Infinity
            </div>
            <div class="duration">
                3:10
            </div>
            <form action="#" method="post">
                <div class="play-button">
                    <button style="background-color: transparent;" name="butt" value="74;Infinity;3:10">
                        <img class="play-button-img" src="../static/images/playlist.png">
                    </button>
                </div>
            </form>    
        </div>
        <hr style="margin:0 450px 0 450px;border-color: gray;">
        <div class="songs">
            <div class="snum">
                5
            </div>
            <div class="song-name">
                Long Way Done
            </div>
            <div class="duration">
                3:13
            </div>
            <form action="#" method="post">
                <div class="play-button">
                    <button style="background-color: transparent;" name="butt" value="75;Long Way Done;3:13">
                        <img class="play-button-img" src="../static/images/playlist.png">
                    </button>
                </div>
            </form>    
        </div>
        <hr style="margin:0 450px 0 450px;border-color: gray;">
        <div class="footer">
            <div><a href="about.html" style="text-decoration: none;color:white;">About</a></div>
            <div style="cursor: default;">- ok_17</div>
        </div>
<script src="../static/js/header.js"></script>

    </body>
</html>